<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--Font-Awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel = "stylesheet" href = "css/style.css">

  </head>

  <body>

    <!--Navbar-->
    <nav class = 'navbar navbar-expand-md navbar-dark'>
      <div class = 'container'> 
        <a href = '#' class = 'navbar-brand navbar-header'>To Pay Database</a>
        <a href = '#'><i class="fab fa-twitter navbar-icons"></i></a>         
        <a href = '#'><i class="fab fa-youtube navbar-icons"></i></a>
        <button class = 'navbar-toggler'
                type = 'button'
                data-bs-toggle = 'collapse'
                data-bs-target = '#navmenu'>
                <span class = 'navbar-toggler-icon'></span>       
        </button>
        <div class = 'collapse navbar-collapse' id = 'navmenu'>
          <ul class = 'navbar-nav ms-auto'>
            <li class = 'nav-item'>
              <a href = '#' class = 'nav-link'>Login</a>
            </li>
          </ul> 
        </div>
      </div>  
    </nav>
    <!--End Navbar-->

    <!--<form>
      <input type="text" placeholder = "select Customer" class="collapsible">
      <ul id = "customerListContent" class="content"></ul>
    </form>-->

    <div class = "container main-section">

      <section class = "select-add-container">
        <!--<select id = "customerSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Select a Customer</option>
          <option id = "customerList"></option>
        </select>-->    
          <!--<option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>-->

        <div class="input-group btn-group select-customer">
          <input type="text" class="form-control search-name-input" id = "customerNameSearchInput" placeholder = "Search names..." data-bs-toggle="dropdown" aria-label="Text input with segmented dropdown button">
          <!--<button type="button" class="btn btn-outline-secondary">Action</button>-->
            <!--<span class="input-group-text" id="basic-addon1">@</span>-->
              <span class="visually-hidden">Toggle Dropdown</span>
          <div class = "expand-list" data-bs-toggle="dropdown"><span class="material-icons text-secondary expand-more-icon">expand_more</span>
          </div>
          <ul class="dropdown-menu dropdown-menu-end customer-list" id = "customerList">
            
          </ul>
        </div>  

        <button type="button" class="btn btn-outline-primary btn-sm add-customer-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new Customer</button>
      </section> 
        
      <section class = "main-working-container">           
          <div class = "working-area" id = "workingArea"></div>        
      </section>

      <!--Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new Customer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class = "needs-validation" id = "addCustomerForm" novalidate>
                <div class="mb-2">
                  <label for="customerName" class="col-form-label">Name</label>
                  <input type="text" class="form-control" id="customerName" required  autocomplete="off">
                </div>
                <div class="invalid-feedback">
                  Please provide a Customer Name.
                </div>
                <div class="mb-3">
                  <label for="customerNumber" class="col-form-label">Phone Number</label>
                  <input type = "text" class="form-control" id="customerNumber" required  autocomplete="off"></textarea>
                </div>
                <div class="invalid-feedback">
                  Please provide a Customer Name.
                </div>
            
                <div class="">
                  <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                  <button class="btn btn-primary" data-bs-dismiss="modal">Add Customer</button>
                  <!--data-bs-dismiss="modal"-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!--<script src = "functions.js" type="module"></script>-->
    <!--<script src = "js/customer_list.js"></script>-->
    <script src = "js/script.js" defer></script>

  </body>
</html>    